<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="winter_promotions" translate="label" sortOrder="10">
            <label>Winter Promotion 2022</label>
        </tab>
        <section id="winter_promotions_section" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>winter-promotions-section</class>
            <label>Winter Promotion 2022</label>
            <tab>winter_promotions</tab>
            <resource>Amigos_WinterPromotion2022::dbactions_configuration</resource>
            <group id="winter_promotions_general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Category Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category_1" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category Id 1</label>
                    <comment>This category will get data for display on the frontend.</comment>
                </field>
                <field id="category_2" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category Id 2</label>
                    <comment>This category will get data for display on the frontend.</comment>
                </field>
                <field id="category_3" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category Id 3</label>
                    <comment>รายละเอียดหมวดหมู่แสดงผล</comment>
                </field>
                <field id="product_ids" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product id(s)</label>
                    <comment>This product id(s) will display on the frontend. separate with (,)</comment>
                </field>
            </group>
        </section>
    </system>
</config>
