<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Immerce_FaktumNavConnector::menu"
             title="Immerce" module="Immerce_FaktumNavConnector"
             sortOrder="20"
             resource="Magento_Backend::content"
        />
        <add id="Immerce_FaktumNavConnector::configuration"
             title="NavConnector Configuration" module="Immerce_FaktumNavConnector"
             sortOrder="1" parent="Immerce_FaktumNavConnector::menu"
             action="adminhtml/system_config/edit/section/navconnector"
             resource="Immerce_FaktumNavConnector::configuration"
        />
    </menu>
</config>
