<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:app/etc/routes.xsd">
    <!--router id="admin">
            <route id="admin" frontName="mainmenu">
                <module name="Shop_Freshshop"/>
            </route>
    </router-->
    <router id="admin">
        <route id="freshshop" frontName="freshshop">
            <module name="Shop_Freshshop"/>
        </route>
    </router>
</config>
