<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="design_pattern" translate="label" sortOrder="100">
            <label>Design Pattern</label>
        </tab>
        <section id="design_pattern_weathers" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>design_pattern</tab>
            <label>Weather widget</label>
            <resource>DesignPattern_Weathers::config</resource>
            <group id="general" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="openweathermap_api_key" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>openweathermap.org API Key</label>
                </field>
                <field id="default_city" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default city</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="default_country_id" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>

    </system>
</config>
