<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="faktumnavconnector" id="faktumnavconnector">
            <module name="Immerce_FaktumNavConnector"/>
        </route>
    </router>
</config>
